<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Yea ngl I hate life. Let's get it!"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>BeyondBorders | 400</title>

    <!-- Icon -->
    <link rel="icon" href="/images/gruppeD/icons/logo-noText-travlr-red.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/gruppeD/icons/logo-noText-travlr-red.png">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/gruppeD/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/gruppeD/css/guacamoleboy-framework.css">
    <link rel="stylesheet" href="/gruppeD/css/style.css">
    <link rel="stylesheet" href="/gruppeD/css/font-awesome-4.7.0.min.css">

    <!-- Map Load -->
    <link rel="stylesheet" href="/css/gruppeD/worldmap.css">
    <script src="/js/gruppeD/worldmap.js" defer></script>

    <!-- Scripts -->
    <script src="/js/gruppeD/guacamoleboy-wow.js" defer></script>
    <script src="/js/gruppeD/blocker.js" defer></script>
    <script src="/js/gruppeD/click-sound.js" defer></script>
    <script src="/js/gruppeD/fallback.js" defer></script>

</head>
<body class="error-page">

<!-- Error Section Start -->
<section class="error-section">
    <div class="guac-container">

        <h2>400</h2>
        <h3>Invalid Data or request</h3>
        <p>What the helly? What were you doing lil-bro.. Go back. Go back......</p>

        <a href="#" id="backBtn">
            <button>Go back bro</button>
        </a>

    </div>
</section>
<!-- Error Section End -->

</body>
</html>