<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Yea ngl I hate life. Let's get it!"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>BeyondBorders  | Settings</title>

    <!-- Icon -->
    <link rel="icon" href="/images/gruppeD/icons/logo-noText-travlr-red.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/gruppeD/icons/logo-noText-travlr-red.png">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/gruppeD/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/gruppeD/guacamoleboy-framework.css">
    <link rel="stylesheet" href="/css/gruppeD/style.css">
    <link rel="stylesheet" href="/css/gruppeD/font-awesome-4.7.0.min.css">

    <!-- Map Load -->
    <link rel="stylesheet" href="/css/gruppeD/worldmap.css">
    <script src="/js/gruppeD/worldmap.js" defer></script>

    <!-- Scripts -->
    <script src="/js/gruppeD/guacamoleboy-wow.js" defer></script>
    <script src="/js/gruppeD/blocker.js" defer></script>
    <script src="/js/gruppeD/click-sound.js" defer></script>
    <script src="/js/gruppeD/notification.js" defer></script>
    <script src="/js/gruppeD/settings.js" defer></script>

</head>
<body class="subpage">

<!-- Button Back To Worldmap -->
<a href="/gruppeD/worldmap" class="exit-btn-settings" title="Tilbage til Map">&#10006;</a>
<!-- Button Back To Worldmap -->

<!-- Settings Menu Start -->
<section class="settings-section">
    <div class="guac-container">
        <div class="guac-row">

            <!-- Left Settings Menu -->
            <div class="guac-col-3 settings-nav">
                <ul>
                    <li class="active"><a href="#profile">Profile</a></li>
                    <li><a href="#privacy">Privacy</a></li>
                    <li><a href="#notifications">Notifications</a></li>
                    <li><a href="#language">Language</a></li>
                    <li><a href="#worldmap">World Map</a></li>
                    <li><a href="#delete">Delete Account</a></li>
                </ul>
            </div>
            <!-- Left Settings Menu -->

            <!-- Right Settings Menu -->
            <div class="guac-col-8 settings-content"> <!-- col-9 bugs for some reason. It's fine with col-8 -->

            </div>
            <!-- Right Settings Menu -->

        </div>
    </div>
</section>
<!-- Settings Menu End -->

<!-- Notification -->
<section>
    <div id="guac-notification-container"></div>
</section>
<!-- Notification -->

</body>
</html>