#map { 
    height: 100vh;
}

/* Kan ikke lige huske hva fuck det her er lige nu */
/*
.active {
  transform: scale(1.3) translateY(-5px);
  filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4));
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}
*/