<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SPLITit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/splitit/splitit.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}"><img th:src="@{/images/splitit/logo.svg}" alt="Split it logo"></a>
    </nav>
</header>

<main>
    <div class="title">
        <h1>SPLITit</h1>
        <hr class="divider"> <!-- Format this line - maybe id or class? -->
        <h3>Your expense splitter</h3>
    </div>

    <div class="selector">
        <h2>Choose / create a group</h2>
        <form th:action="@{/expense}" method="get">
            <select name="groupId" id="groupSelect">
                <option value="" disabled selected>Select a group</option>
                <option th:each="group : ${groups}"
                        th:value="${group.groupId}"
                        th:text="${group.name}">
                    Group Name
                </option>
            </select>
            <br>
            <button type="submit">Show group</button> <!-- Couple button to dropdown -->
        </form>
    </div>

    <div class="link">
        <a th:href="@{/splitit/createGroup}">Create a group</a>
    </div>
</main>

<footer>
    <div>
        <p>
            <a href="https://github.com/Mortenjenne" target="_blank" rel="noopener">
                <img th:src="@{/images/splitit/github-icon.svg}" alt="Github icon"> MORTEN JENSEN
            </a>
        </p>
        <p>
            <a href="https://github.com/DHangaard" target="_blank" rel="noopener">
                <img th:src="@{/images/splitit/github-icon.svg}" alt="Github icon"> DANIEL HANGAARD
            </a>
        </p>
    </div>
</footer>
</body>
</html>