<!DOCTYPE html>
<html lang="da" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FilmRouletten</title>

    <!-- Google-font til Xanh Mono -->
    <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital,wght@0,400;1,400&display=swap" rel="stylesheet" />
    <link href="../../public/css/filmRouletten/filmRoulettenIndex.css" th:href="@{/css/filmRouletten/filmRoulettenIndex.css}" rel="stylesheet" />
</head>

<body>
<div class="page">

    <header>
        <a href="../index.html" th:href="@{/}">
            <img class="lifehack-logo"
                 alt="Lifehack-logo"
                 src="../../public/images/lifehacklogo.png"
                 th:src="@{/images/lifehacklogo.png}" />
        </a>
    </header>

    <header class="site-header">
        <div class="brand">
            <h1 class="brand__text brand__text--left">FILM</h1>

            <img
                    class="brand__logo"
                    src="../../public/images/FilmRoulettenLogo.png"
                    alt="FilmRoulette logo"
                    th:src="@{/images/FilmRoulettenLogo.png}"
            />

            <h1 class="brand__text brand__text--right">ROULETTEN</h1>


        </div>
    </header>

    <header>
        <a href="/login" class="login-btn">LOGIN</a>
        <a href="/watchlist" class="watchlist-btn">WATCHLIST</a>
    </header>

    <h2 class="genre-title">Vælg Genre</h2>


    <main>

        <!-- VIEW 1: VÆLG GENRE -->
        <section class="view view--genres" data-view="genres">
            <form action="/getMovie" method="get" class="genres" style="display:flex;flex-wrap:wrap;gap:1rem;justify-content:center;">
                <button class="pill" type="submit" name="genre" value="Action">Action</button>
                <button class="pill" type="submit" name="genre" value="Thriller">Gyser</button>
                <button class="pill" type="submit" name="genre" value="Comedy">Komedie</button>
                <button class="pill" type="submit" name="genre" value="Sci-Fi">Sci-Fi</button>
                <button class="pill" type="submit" name="genre" value="Crime">Krimi</button>
                <button class="pill" type="submit" name="genre" value="Drama">Drama</button>
                <button class="pill" type="submit" name="genre" value="Thriller">Thriller</button>
                <button class="pill" type="submit" name="genre" value="Adventure">Eventyr</button>
            </form>

            <div class="RouletteHjul" id="rouletteWheel">
                <img src="/images/FilmRouletteHjul.png"
                     alt="FilmRouletteLogo"
                     th:src="@{/images/FilmRouletteHjul.png}" />
            </div>

        </section>


    </main>
</div>

</body>
</html>
