<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Word & Go</title>
  <link rel="stylesheet" href="/css/wordngo.css" />
  <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">

</head>
<body>


<div class="layout">
<div class="sidebar">
  <a class="sidebar-button" href="" > <img src="/images/wordngo/menu.png"/> </a>
  <a class="sidebar-button" href="/wordngo/index"><img src="/images/wordngo/home.png"/></a>
  <div class="sidebar-button"><img src="/images/wordngo/trophy.png"/></div>
  <a class="sidebar-button" href="/wordngo/gamepage"><img src="/images/wordngo/close.png"/></a>
</div>
</div>
<div class="container">
  <h1 class="title">WORD & GO</h1>

  <div class="game-area">

    <div class="grid">

      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>

      </div> <!-- closes .grid -->
    </div> <!-- closes .game-area -->
  </div> <!-- closes .container -->
</div> <!-- closes .layout -->
</body>
</html>
</body>
</html>

