<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Word & Go</title>
  <link rel="stylesheet" href="/css/wordngo.css" />
  <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
  <style>
    .owl-container {
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }

    .owl-image {
      display: block;
    }
  </style>

</head>
<body>


<div class="layout">
<div class="sidebar">

  <a class="sidebar-button" href="#" id="menu-btn">
    <img src="/images/wordngo/menu.png"/>
  </a>

  <div id="sidebar-actions" class="sidebar-actions hidden">
    <a class="sidebar-button" th:href="@{/Wordngo}">
      <img src="/images/wordngo/home.png"/>
    </a>

    <a class="sidebar-button" href="/changeLanguage">
      <img src="/images/wordngo/trophy.png" alt="Change Language">
    </a>

    <a class="sidebar-button" th:href="@{/Wordngo/gamepage}">
      <img src="/images/wordngo/redo.png"/>
    </a>
  </div>
</div>
</div>


<div class="container">
  <div class="owl-container">
    <img src="/images/wordngo/flyingowl.png" class="owl-image" style="max-width: 150px; max-height: 150px;"/>
  </div>
  <h1 class="title">WORD & GO</h1>

  <div class="game-area">

    <div class="grid">

      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>


      </div><!-- closes .grid -->
    </div> <!-- closes .game-area -->

  </div> <!-- closes .container -->
<!--  <div class="owl-container">-->
<!--    <img src="/images/wordngo/studyowl.png" class="owl-image" style="max-width: 150px; max-height: 150px;"/>-->
<!--  </div>-->
</div> <!-- closes .layout -->
<script src="public/js/wordngo.js"></script>


</body>
</html>
</body>
</html>